@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our Menu Items will be publically displayed here</h1>
    <p>Example</p>
    <hr/>
    <p>Category:  Beverages</p>
    <p>Food Type:  Carbonated</p>
    <p>Menu Item:  Coke Classic 12 oz Can - $1.49</p>
    <hr />
    <p>Category:  Beverages</p>
    <p>Food Type:  Sugar Free</p>
    <p>Menu Item:  Coke Zero 20 oz Bottle - $2.19</p>
    <hr />
    <p>Category:  Salads</p>
    <p>Food Type:  Chicken</p>
    <p>Menu Item:  Chicken Cobb Salad - $5.99</p>
</div>
